/node_modules
/public/hot
/public/storage
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode

# storage 以下は無視
/storage/*

# ただしアップロード画像は追跡
!/storage/app
!/storage/app/public
