.page-header{
    display: flex;
    max-width: 1512px;
    width: 100%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 0 40px;
}

@media (max-width: 768px) {
    .page-header {
        flex-direction: column;
        align-items: flex-start;
        padding: 10px 20px;
        height: auto;
    }
}

h1{
    font-family: Hiragino Kaku Gothic Pro;
    font-weight: 600;
    font-style: W6;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #333333;
}

.btn{
    display: inline-block;
    max-width: 137px;
    width: 100%;
    padding: 13px 20px;
    gap: 10px;
    border-radius: 5px;
    background-color: #FFA929;
    transition: background-color 0.3s ease;
}

.create-btn{
    font-family: Hiragino Kaku Gothic Pro;
    font-weight: 600px;
    font-style: W6;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    text-decoration: none;
    color: #4B4B4B;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.create-btn:hover{
    background: #DF9425;
}

/* 検索フォーム・セレクトボックス */
.products-container {
    display: flex;
    max-width: 1512px;
    width: 100%;
    margin: 0 auto;
    gap: 20px;
    padding: 10px 40px;
}

.products-filter{
    position: relative;
    display: inline-block;
    max-width: 240px;
    width: 100%;
    flex-direction: column;
    gap: 40px;
    opacity: 1;
}
.search-form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.search-input{
    width: 100%;
    height: auto;
    padding: 14.5px 10px;
    border-radius: 25px;
    border: 1px solid #E0DFDE;
}

.search-btn{
    width: 100%;
    border-radius: 5px;
    border: none;
    padding: 12px 20px;
    background: #F5C800;
    box-shadow: 0px 4px 10px 0px #0000001A;
    font-family: Hiragino Kaku Gothic Pro;
    font-weight: 600;
    font-style: W6;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0%;
    Color: #4B4B4B;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.search-btn:hover {
    background-color: #DDB400;;
}
/* ソースセレクト */

.sort-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 40px;
    padding-bottom: 20px;
    gap: 20px;
    border-bottom: 1px solid #E0DFDE;
}

.dropdown {
    display: block;
    width: 100%;
    max-width: 240px;
    position: relative;
}

.dropdown-btn {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 20px;
    border-radius: 5px;
    background: #FFFFFF;
    border: 1px solid #E0DFDE;
    position: relative;
    font-family: Hiragino Kaku Gothic Pro;
    font-weight: 300;
    font-style: W3;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #E0DFDE;

}

.dropdown-btn::after {
    content: '▼';
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    width: 14px;
    height: 8px;
    color: #BEB1A6;
}

.dropdown-btn.open::after {
    content: '▲';
}

.dropdown-label.selected{
    color: #4B4B4B;
}
.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    border-radius: 4px;
    list-style: none;
    padding: 0;
    margin: 5px 0 0 0;
    width: 100%;
    border-radius: 5px;
    box-shadow: 0px 4px 10px 0px #00000040;
    z-index: 100;
    border-bottom: 1px solid #E0DFDE
}

.dropdown-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    width: 100%;
    gap: 10px;
    padding: 12px 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 1px solid #E0DFDE;
    font-family: Hiragino Kaku Gothic Pro;
    font-weight: 300;
    font-style: W3;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #4B4B4B;
}

/* 順番リセット */
.reset-sort{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 130px;
    width: 100%;
    gap: 10px;
    opacity: 1;
    border-radius: 21px;
    padding: 10px;
    border: 1px solid #F5C800;
    box-sizing: border-box;
}

.reset-text{
    font-family: Hiragino Kaku Gothic Pro;
    font-size: 12px;
    color: #4B4B4B;
}

.reset-btn{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    gap: 10px;
    border-radius: 8px;
    border: 1px solid #F5C800;
    text-decoration: none;
    color:#F5C800;
}

/* 商品カード */
.products-main {
    max-width: 1162px;
    width: 100%;
    margin: 0 auto;
    flex: 1;
    display: flex;
    flex-direction: column;
}
.products-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.product-card {
    max-width: 374px;
    width:100%;
    height: auto;
    opacity: 1;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px #0000001A;
    transition: background-color 0.3s ease;
}

.product-card:hover{
    opacity: 0.7;
}
.product-card img {
    width: 100%;
    height: 281px;
    object-fit: cover;
    border-radius: 5px;
}

.card-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 8px;
}

.product-card a {
    text-decoration: none;
    color: inherit;
}

.product-card a h3,
.product-card a p{
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 1.5rem;
    line-height: 100%;
    letter-spacing: 0%;
    color: #4B4B4B;
}

.pagination-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 20px;
}

/* スマホ用 */
@media (max-width: 768px) {
    .products-container {
        flex-direction: column;
        gap: 20px;
    }

    .products-filter,
    .products-main {
        width: 100%;
    }

    .product-card a h3 {
        font-size: 0.9rem;
        word-break: break-word;
    }

    .product-card a p {
        font-size: 0.75rem;
        word-break: break-word;
    }
}
