# それ以外の無視設定はそのまま
/node_modules
/public/hot
/public/storage
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode

# storage 以下は基本無視
/storage/*

# ただし追跡したいディレクトリ
!/storage/app/
!/storage/app/public/
!/storage/app/public/img/
!/storage/app/public/img/*
